{% extends 'base.html' %}

{% block main %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container bd-notificatio">
                <h1 class="title">
                    <a href="">Flask-Blog</a>
                </h1>
                <h2 class="subtitle">
                    A simple blog written in Flask
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h2>Audax lactas ducunt ad nix.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis, deleniti dolor explicabo illum iste laboriosam minus nemo quibusdam quis repellendus voluptatum! Adipisci eligendi et eum molestiae quasi repellendus totam. Onuss cantare in lutetia! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor laboriosam modi quia sapiente. Aliquid, amet cumque dolor magnam maiores nisi sed voluptatum! Aliquam, beatae consectetur esse fugiat pariatur tenetur.
                </p>
            </div>
        </div>
    </section>

{% endblock %}